= partial_render('layout/doctype')

%head
  = partial_render('layout/header')
%body.preload

  :sass
    .title > a > .logo
      font-size: 4em
      text-align: center
    .ui.tabular.menu .active.item
      margin-bottom: -2px


  .ui.segment.title.bottom.attached
    %a(href="/")
      .ui.logo 
        .span(style='color:blue;display:inline-block')>CI
        .span(style='color:red;display:inline-block')>mbinator


  #content.ui.basic.segment
    = yield


  /{{{ FOOTER
  /----------
  #footer
    =partial_render('layout/footer')

  /{{{ CODA
  /--------
  #coda
    =partial_render('layout/coda')

