:sass
  .documentation
    th, td
      padding: 5px 10px
      border: 1px solid #999
    .vertical.menu
      .item
        display: block !important
    figure
      max-width: 100vmin
      img
        max-width: 100%
      figcaption
        font-size: 0.9em

.documentation.ui.grid
  .ui.four.wide.column
    .ui.vertical.fluid.tabular.menu
      .item.active(data-tab="data_format") Data Format
      .item(data-tab="turorial") Tutorial
      .item(data-tab="avail") Availability

  .ui.twelve.wide.stretched.column
    .ui.tab.very.basic.segment.active(data-tab='data_format')
      :markdown
        Data format
        ===========

        CImbinator requires dose-response data for single drugs and for drug
        combinations. This information can be imported from a file or entered
        manually.

        Import / Export
        ---------------

        For the convenience of the user, CImbinator supports two file types for
        importing and exporting data: Tab Separated Value files (TSV) and Excel
        spreadsheets (XSL or XSLX). Information in these files can also be laid
        out in several ways: expanded, collapsed columns and collapsed. In the
        collapsed formats (rows and columns) drugs are separated by hyphens
        (-), and doses/responses in a vector are separated by the pipe
        character (|)

        | Drug    | Second drug | Drug dose | Sencond drug dose | Response |
        |---------|-------------|----------:|------------------:|---------:|
        | BEZ235  |             | 5.25      |                   | 0.84818  |
        | BEZ235  |             | 21        |                   | 0.44215  |
        | AZD6244 |             | 78        |                   | 0.679    |
        | AZD6244 |             | 312       |                   | 0.45525  |
        | BEZ235  | AZD6244     | 5.25      | 78                | 0.60587  |
        | BEZ235  | AZD6244     | 21        | 312               | 0.22932  |

        *Example of expanded format*

        
        | Treatment      | Dose    | Response |
        |----------------|--------:|---------:|
        | BEZ235         | 5.25    | 0.84818  |
        | BEZ235         | 21      | 0.44215  |
        | AZD6244        | 78      | 0.679    |
        | AZD6244        | 312     | 0.45525  |
        | BEZ235-AZD6244 | 5.25-78 | 0.60587  |
        | BEZ235-AZD6244 | 21-312  | 0.22932  |

        *Example of collapsed column format*

        
        | Treatment      | Dose           | Response        |
        |----------------|----------------|-----------------|
        | BEZ235         | 5.25\|21        | 0.84818\|0.44215 |
        | AZD6244        | 78\|312         | 0.679\|0.45525   |
        | BEZ235-AZD6244 | 5.25-78\|21-312 | 0.60587\|0.22932 |


        *Example of collapsed format*

        To see some examples you can load any the sample datasets provided in the
        "Import / Export" section and export them to any of these three layouts in
        either TSV or Excel files. When importing the data from files the column
        header row must be present but the text of the headers is ignored, all that
        matters is the order of the columns. On TSV files or when inputing data on the
        textarea the header line must start with a pound character (#).

        Once the data is imported you may open the tabs 'Drugs' and 'Combinations' to
        examine the data and produce the plots. The tab 'Configure' allows you to specified
        the details of how these are produced, as well as issue batch analyses.

        The data loaded in the 'Drugs' and 'Combinations' tabs is saved on your
        browsers memory, and restored whenever to page is loaded. You may empty it
        using the 'Reset' button, or you might introduce your own data points
        manually.

        Manual Input
        ------------

        From the 'Drugs' and 'Combinations' tabs you might input new data-points
        manually. This functionality can be use to extend or amend data imported
        from a file or to input a new dataset by hand. Remember that your changes
        will be saved on the browser memory, but you can also export them to file
        to restore them at a later time.

    .ui.tab.very.basic.segment(data-tab='turorial')
      :markdown

        Quick introduction in three steps
        ========

        *Step 1: Importing data.* The CImbinator web-page
        (http://cimbinator.bioinfo.cnio.es/) can be accessed through a standard
        modern web browser. At the top of the web page the user can access
        different parts of the service by selecting the relevant tab from the
        set of available tabs _Export/Import data_, _Configure_, _Drugs_,
        _Combinations_ and _Help_. Typically one would start by importing data,
        which can be done by selecting _Export/Import_ data (see Fig. S1). The
        import of data can be done either from loading a data file (see
        Supplementary Material chapter 4), or by pasting the data as text into
        the textbox. To import one of the example datasets provided by the web
        page select the  "Miller dataset" and next click "Submit".

        <figure>
        <img src="/images/Fig-S1.jpg"/>
        <figcaption><em>Fig. S1: Import and Export data to and from CImbinator.</em>
        Data can be imported either from file by selecting "Choose
        File" or by pasting text input to the textbox. Data can also be
        exported to either Excel files or tab separated files.
        </figcaption>
        </figure>

        *Step 2: Configuring drug combination response analysis.* After data has
        been imported and submitted the analysis can be configured by accessing
        the second tab _Configure_. In the dropdown menu _Model type_ the user can
        choose a relevant drug combination model that is used to calculate the
        expected combination response, e.g. _Loewe additivity_ (see Fig. S2). If
        the user next select _Analyze all in batch_ the web server will issue a
        batch analysis to report on drug combination effects for all drug
        combinations submitted.

        <figure>
        <img src="/images/Fig-S2.jpg"/>
        <figcaption><em>Fig. S2. Configuring the analysis.</em>
        The user can choose one of several model types that is used to
        calculate the expectation combination response. This expectation is
        used to quantify synergy, which is the excess between the observed
        effect to the expected effect.
        </figcaption>
        </figure>

        *Step 3: Study drug responses.* After submitting data and configuring the
        analysis CImbinator allows exploration of single and combination drug
        responses. The single drug responses can be found in the tab _Drugs_.
        This tab also allows for manual editing of existing data and entering
        of new data. The add a drug to the dataset input the drug name followed
        by the selecting the plus sign, and then one can add measurements by
        inputting _Dose_ and _Response_ for the new drug. Fig. S3 shows an example
        of what this tab can look like for the Miller dataset, and Fig. S4
        shows an example of the drug combination overview matrix for the Miller
        dataset.

        <figure>
        <img src="/images/Fig-S3.jpg"/>
        <figcaption>
        <em>
        Fig. S3. Single drug responses.
        </em>

        In the Drugs tab the single drug dose response fits can be displayed by
        selecting Display plot. New drugs and observations can be added
        manually by typing in the name of a new drug followed by clicking the
        plus sign, or by adding Dose and Response data for the new drug.
        Existing drugs can be removed by selecting Remove drug, and
        observations can be removed by clicking the minus sign in the rightmost
        column in the dose-response table.

        </figcaption>
        </figure>


        <figure>
        <img src="/images/Fig-S4.jpg"/>
        <figcaption>
        <em>
        Fig. S4. Drug combination responses.
        </em>
         Drug combation response matrix
        ('birds eye overview') for the Miller dataset, and detailed
        dose response plot for the drug combination AG-SL. The matrix displays
        a color-coded bar above each drug pair, which is a graded synergy
        assessment across increasing doses from left to right (green = synergy,
        yellow = additive, red = antagonism). Example: If a bar is yellow at
        the left end and green at the right end it means this drug combination
        acts additively at low doses and synergistically at higher doses. The
        detailed dose response plot is displayed by first selecting a drug pair
        in the matrix, and then selecting Plot in the dose response table. The
        Plot button also displays the quantified synergy score as a number,
        e.g. Combination Index (CI) values for Loewe additivity analyses. The
        detailed dose response plot also gives confidence scores for the CI
        values. In the example of drugs AG and SL the CI value is 0.02, with
        confidence bands indicating the CI value to lie between 0.00 and 0.06.
        </figcaption>
        </figure>




    .ui.tab.very.basic.segment(data-tab='avail')
      :markdown

        Availability
        ============

        This software is free to use and is released with an open-source licence (MIT).

        Source code
        -----------
 
        The source code for this software is available at
        [github](https://github.com/Rbbt-Workflows/combination_index).  Its
        programmed in Ruby and uses R to produce the plots. The code is
        organized as an [Rbbt](http://mikisvaz.github.io/rbbt/) workflow. The
        Rbbt workflow is called CombinationIndex (CImbinator is just the name
        for the web-app and Docker image)

        Installation
        ------------

        You will need a working ruby installation, such as those typically
        provided by Linux distributions. In addition to that you will need to
        have the Rbbt gems, and a working R installation with some packages
        installed. 
        
        To install Rbbt you can consult [the getting started
        documentation](http://mikisvaz.github.io/rbbt/tutorial/getting_started/).
        The R packages you need to install are best consulted in the
        [CImbinator
        Dockerfile](https://github.com/Rbbt-Images/rbbt-docker-CImbinator/blob/master/Dockerfile).

        In fact, you may also use the Docker image [mikisvaz/rbbt-ci_mbinator](https://hub.docker.com/r/mikisvaz/rbbt-ci_mbinator/)

        Starting a server
        -----------------

        There are two basic ways to use CImbinator: through the web interface or through the command line. You may use
        this web interface or you might start your own server on a local install doing:

        ```
        rbbt workflow server CombinationIndex -e production -p 2887
        ```

        Or, using Docker:

        ```
        docker run -ti -p 127.0.0.1:2887:2887 -e DISPLAY=$DISPLAY mikisvaz/rbbt-ci_mbinator
        ```

        You can now access the server
        [http://localhost:2887/](http://localhost:2887/). Allow a couple of
        minutes on the first visit for the JavaScript and CSS assets to be
        prepared.

        Command-line use
        ----------------

        You may issue analysis jobs directly from the command-line. All the
        functionalities are used through the `rbbt` command.  See the [Rbbt
        documentation](http://mikisvaz.github.io/rbbt/) for more information on
        how to use it. Here are some examples:

        See the available functionalities:

        ```
          rbbt workflow task CombinationIndex
        ```

        Check the parameters for any of the functionalities

        ```
          rbbt workflow task CombinationIndex report -h
        ```

        Note that when using any of the `report` functionalities the file needs
        to be a *TSV* file in any of the two *collapsed* formats

        The result files of any of the tasks will be saved on this and will be
        re-used appropriately; for instance when single drug dose response fits
        are reused across combinations that feature them. To view the result file you
        can use the `--printpath` flag. Otherwise the result is printed into STDOUT

        ```
          rbbt workflow task CombinationIndex report --file=~/share/data/CI/CI-mbinator-export.Miller.tsv --model_type=bliss --fix_ratio --printpath
        ```
        
        When using any of the `report` features all the plots produced by the
        single combination evaluations are collected into a directory. You can find
        this directory along side the result file, with a `.files` extension.

        If you are using the [docker
        image](https://hub.docker.com/r/mikisvaz/rbbt-ci_mbinator/) instead of
        the local installation you can just prepend `docker run -ti -e
        DISPLAY=$DISPLAY mikisvaz/rbbt-ci_mbinator` to any of the commands.
        Note of course that, as usual with Docker, any files passed to the
        commands must be available to the docker image, specifically when using
        the `report` methods, so you might need to mount a local directory into
        docker to make them available.






        



